/* body {
  background-color: #1e314f;
  font-family: "Montserrat";
  color: #fff;
} */

.poggleWrapper {
  overflow: hidden;
  text-align: center;
}
.poggleWrapper input {
  position: absolute;
  left: -99em;
}

.poggle {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 45.5px;
  height: 26px;
  background-color: #8ed2f1;
  border-radius: 42px;
  transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/* #ffaf38; */

.poggle__handler {
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 2px;
  left: -9px !important;
  width: 22px;
  height: 22px;
  background-color: #ffaf38;
  border: 1px solid #ff9900;
  border-radius: 35px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(-45deg);
}
.poggle__handler .crater {
  position: absolute;
  background-color: #d3ba96;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  border-radius: 100%;
}
.poggle__handler .crater--1 {
  top: 9px;
  left: 5px;
  width: 2px;
  height: 2px;
}
.poggle__handler .crater--2 {
  top: 14px;
  left: 11px;
  width: 3px;
  height: 3px;
}
.poggle__handler .crater--3 {
  top: 5px;
  left: 12.5px;
  width: 4px;
  height: 4px;
}

.star {
  position: absolute;
  background-color: #ffffff;
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  border-radius: 50%;
}

.star--1 {
  top: 5px;
  left: 17.5px;
  z-index: 0;
  width: 17px;
  height: 2px;
}

.star--2 {
  top: 9px;
  left: 10px;
  z-index: 1;
  width: 17px;
  height: 2px;
}

.star--3 {
  top: 13.5px;
  left: 20px;
  z-index: 0;
  width: 17px;
  height: 2px;
}

.star--4,
.star--5,
.star--6 {
  opacity: 0;
  transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
  top: 4px;
  left: 12px;
  z-index: 0;
  width: 1.5px;
  height: 1.5px;
  transform: translate3d(3px, 0, 0);
}

.star--5 {
  top: 18px;
  left: 8.5px;
  z-index: 0;
  width: 1.5px;
  height: 1.5px;
  transform: translate3d(3px, 0, 0);
}

.star--6 {
  top: 20px;
  left: 18px;
  z-index: 0;
  width: 1.5px;
  height: 1.5px;
  transform: translate3d(3px, 0, 0);
}

input:checked + .poggle {
  background-color: #476793;
}
input:checked + .poggle:before {
  color: #749ed7;
}
input:checked + .poggle:after {
  color: #ffffff;
}
input:checked + .poggle .poggle__handler {
  background-color: #ffe6b8;
  border: 0px;
  transform: translate3d(18px, 0, 0) rotate(0);
}
input:checked + .poggle .poggle__handler .crater {
  opacity: 1;
}
input:checked + .poggle .star--1 {
  width: 2px;
  height: 2px;
}
input:checked + .poggle .star--2 {
  width: 4px;
  height: 4px;
  transform: translate3d(-5px, 0, 0);
}
input:checked + .poggle .star--3 {
  width: 2px;
  height: 2px;
  transform: translate3d(-7px, 0, 0);
}
input:checked + .poggle .star--4,
input:checked + .poggle .star--5,
input:checked + .poggle .star--6 {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
input:checked + .poggle .star--4 {
  transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .poggle .star--5 {
  transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
input:checked + .poggle .star--6 {
  transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.kalu {
  position: relative;
  -webkit-box-shadow: inset 0 0 10px 10px #000;
  -moz-box-shadow: inset 0 0 10px 10px #000;
  box-shadow: inset 0 0 10px 10px #000;
}
